<ng-container *ngIf="books$ | async as books">
  <ng-container *ngIf="deleteBookMutation.result$ | async as deleteBookResult">
    <span *ngIf="books.isError">Что-то пошло не так</span>
    <app-blurry-bg *ngIf="books.isFetching || deleteBookResult.isLoading">
      <app-spinner></app-spinner>
    </app-blurry-bg>
    <mat-list *ngIf="books.data" class="list">
      <ng-container *ngIf="recommendedBook">
        <div mat-subheader>Рекомендованая книга</div>
        <app-book-card [book]="recommendedBook"></app-book-card>
      </ng-container>
      <ng-container
        *ngIf="books.data | groupBy : 'year' | sort : true as bookGroups"
      >
        <ng-container *ngFor="let tuple of bookGroups">
          <div mat-subheader>
            {{ tuple[0] ?? "Год не указан" }}
          </div>
          <app-book-card
            *ngFor="let item of tuple[1] | sortBy : 'title'"
            class="card"
            [id]="item.id"
            [book]="item"
            [showDelete]="true"
            (handleDelete)="deleteBook($event)"
          ></app-book-card>
        </ng-container>
      </ng-container>
    </mat-list>
  </ng-container>
</ng-container>
