<ng-container *ngIf="books$ | async as books">
  <ng-container *ngIf="deleteBookMutation.result$ | async as deleteBookResult">
    <span *ngIf="books.isError">Что-то пошло не так</span>
    <app-blurry-bg *ngIf="books.isFetching || deleteBookResult.isLoading">
      <app-spinner></app-spinner>
    </app-blurry-bg>
    <mat-list *ngIf="books.data" class="list">
      <ng-container
        *ngIf="books.data | groupBy : 'year' | sort : true as bookGroups"
      >
        <ng-container *ngFor="let tuple of bookGroups">
          <div mat-subheader>
            {{ tuple[0] ?? "Год не указан" }}
          </div>
          <mat-card
            *ngFor="let item of tuple[1] | sortBy : 'title'"
            class="card"
            [id]="item.id"
          >
            <mat-card-header>
              <mat-card-title>
                {{ item.title }}
              </mat-card-title>
              <mat-card-subtitle *ngIf="item.year">
                {{ item.year }}
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>{{ item.authors.join(", ") }}</p>
              <p *ngIf="item.rating !== null">
                Рейтинг: {{ item.rating }}/{{ maxRating }}
              </p>
              <p *ngIf="item.ISBN">{{ item.ISBN.join("-") }}</p>
            </mat-card-content>
            <mat-card-actions align="start">
              <button
                type="button"
                (click)="deleteBook(item.id)"
                mat-icon-button
                color="accent"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </ng-container>
      </ng-container>
    </mat-list>
  </ng-container>
</ng-container>
